
{% set route = app.request.attributes.get('_route') %} 

{% set personMenu = ['person','person_elegible','person_show','person_new','person_edit'] %} 
{% set medsMenu = ['meds','meds_elegible','meds_show','meds_new','meds_edit'] %} 
{% set consultationMenu = ['consultation','consultation_elegible','consultation_show','consultation_new','consultation_edit'] %} 
{% set testMenu = ['test','test_elegible','test_show','test_new','test_edit'] %} 
{% set configMenu = ['config'] %} 
{% set userMenu = ['ben_users','ben_show_user','ben_new_user','ben_edit_user'] %}
{% set adminMenu = ['admin','admin_new','admin_show','admin_edit'] %} 

<nav id="adminmenu">
    <ul class="top-menu">
  
     <li class="current"><a href="{{path('homepage')}}" ><span class="glyphicon glyphicon-home"></span> <span class="menu-title">Acceuil</span></a></li>
      
       
         <li class=""><a href=""><span class="glyphicon glyphicon-stats block"></span> <span class="menu-title">Statistique</span></a>
        
        <li class=""><a href="{{ path('admin_index') }}"><span class="glyphicon glyphicon-user block"></span> <span class="menu-title">Gestion des utisateurs</span></a>
        </li>
        
        <li class=""><a href="{{ path('etat_civil_index') }}"><span class="glyphicon glyphicon-list-alt block"></span> <span class="menu-title">Etat civil</span></a></li>
        <li class=""><a href="{{ path('naissance_index') }}"><span class="glyphicon glyphicon-list-alt block"></span> <span class="menu-title">Acte de naissance</span></a></li>
        <li class=""><a href="{{ path('mariage_index') }}"><span class="glyphicon glyphicon-file block"></span> <span class="menu-title">Acte de mariage</span></a></li>
         <li class=""><a href="{{ path('deces_index') }}"><span class="glyphicon glyphicon-list-alt block"></span> <span class="menu-title">Acte de Décés</span></a></li>
       
      
       
      
        <li class=""><a href="{{ path('security_login_form') }}"><span class="glyphicon glyphicon-lock"></span> <span class="menu-title">connecter</span></a>
        <li class=""><a href="{{ path('admin_new') }}"><span class="glyphicon glyphicon-folder-open"></span> <span class="menu-title">inscrire</span></a>
        <li class=""><a href=""><span class="glyphicon glyphicon-wrench block"></span> <span class="menu-title">Préférences</span></a>
        </li>
       
        <li class="not-current"><a href="#" id="trigger-shelf"><span class="glyphicon glyphicon-chevron-left block"></span>  <span class="menu-title">Collapse menu</span></a></li>
    </ul>
</nav>