{% extends "@MairieMairie//layout.html.twig" %}

{% block body %}


<style type="text/css">
    h3{
        text-align: center;

    }
    #container{width: 500px;
    background-color: #BAC1C8;
    }
    #create{
        margin-left: 100px;
    }
    #list{
        margin-left: 100px;
    }
    #delete{
        margin-left: 100px;
    }
    #retour{
        margin-left: 100px;
    }
</style>



    <h3>{{ etat_civil.nom }}</h3>
<div id="container" class="container">
    {{ form_start(edit_form, {'attr': { 'novalidate': 'novalidate'}})  }}
    <div class="form-group">
        {{ form_label(edit_form.nom) }}
        {{ form_errors(edit_form.nom) }}
        {{ form_widget(edit_form.nom, {'attr': { 'class': 'form-control'}}) }}
    </div>

     <div class="form-group">
        {{ form_label(edit_form.codeAccess) }}
        {{ form_errors(edit_form.codeAccess) }}
        {{ form_widget(edit_form.codeAccess, {'attr': { 'class': 'form-control'}}) }}
    </div>

      <div class="form-group">
        {{ form_label(edit_form.addresseEtatCivil) }}
        {{ form_errors(edit_form.addresseEtatCivil) }}
        {{ form_widget(edit_form.addresseEtatCivil, {'attr': { 'class': 'form-control'}}) }}
    </div>
 <div class="form-group">
        {{ form_label(edit_form.telephone) }}
        {{ form_errors(edit_form.telephone) }}
        {{ form_widget(edit_form.telephone, {'attr': { 'class': 'form-control'}}) }}
    </div>
     <div class="form-group">
        {{ form_label(edit_form.email) }}
        {{ form_errors(edit_form.email) }}
        {{ form_widget(edit_form.email, {'attr': { 'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(edit_form.region) }}
        {{ form_errors(edit_form.region) }}
        {{ form_widget(edit_form.region, {'attr': { 'class': 'form-control'}}) }}
    </div>
        <table>
        <input class="btn btn-success" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

   
            <a id="retour" class="btn btn-primary" href="{{ path('etat_civil_index') }}">Retour</a>
           
       
       
            {{ form_start(delete_form) }}
                <input id="delete" class="btn btn-danger" type="submit" value="suprimer">

                 </table>
            {{ form_end(delete_form) }}
     
    </div>
{% endblock %}
