
{% extends "@MairieMairie//layout.html.twig" %}
{% block body %}
 

<style type="text/css">
    h3{
        text-align: center;

    }
</style>

    <h3>Etat_civils list</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>code access</th>
                <th>Addresse Etat Civil</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat_civil in etat_civils %}
            <tr>
                <td><a href="{{ path('etat_civil_show', { 'id': etat_civil.id }) }}">{{ etat_civil.id }}</a></td>
                <td>{{ etat_civil.nom }}</td>
                <td>{{ etat_civil.codeAccess }}</td>
                <td>{{ etat_civil.addresseEtatCivil }}</td>
                <td>{{ etat_civil.telephone }}</td>
                <td>{{ etat_civil.email }}</td>
                <td>
                    
                            <a class="btn btn-primary" href="{{ path('etat_civil_show', { 'id': etat_civil.id }) }}">show</a>
                        
                        
                            <a class="btn btn-success" href="{{ path('etat_civil_edit', { 'id': etat_civil.id }) }}">edit</a>
                      
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('etat_civil_new') }}">Create a new etat_civil</a>
        </li>
    </ul>
    </div>
{% endblock %}
