{% extends "@MairieMairie//layout.html.twig" %}

{% block body %}


<style type="text/css">
    h5{
        text-align: center;

    }
    #container{width: 500px;
    background-color: #BAC1C8;
    }
    #create{
        margin-left: 100px;
    }
    #list{
        margin-left: 100px;
    }
</style>


    
    <h5>créer un éttat civil</h5>
 <div id="container" class="container">
    {{ form_start(form, {'attr': { 'novalidate': 'novalidate'}}) }}
 <div class="form-group">
        {{ form_label(form.nom) }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom, {'attr': { 'class': 'form-control'}}) }}
    </div>

     <div class="form-group">
        {{ form_label(form.codeAccess) }}
        {{ form_errors(form.codeAccess) }}
        {{ form_widget(form.codeAccess, {'attr': { 'class': 'form-control'}}) }}
    </div>

      <div class="form-group">
        {{ form_label(form.addresseEtatCivil) }}
        {{ form_errors(form.addresseEtatCivil) }}
        {{ form_widget(form.addresseEtatCivil, {'attr': { 'class': 'form-control'}}) }}
    </div>
 <div class="form-group">
        {{ form_label(form.telephone) }}
        {{ form_errors(form.telephone) }}
        {{ form_widget(form.telephone, {'attr': { 'class': 'form-control'}}) }}
    </div>
     <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': { 'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.region) }}
        {{ form_errors(form.region) }}
        {{ form_widget(form.region, {'attr': { 'class': 'form-control'}}) }}
    </div>
   
       
      <table>
        
        <input id="create" class="btn btn-primary" type="submit" value="Creer" />
    {{ form_end(form) }}

    
            <a id="list" class="btn btn-default" href="{{ path('etat_civil_index') }}">retour</a>
        </table>
   
     </div>
{% endblock %}
