
{% extends "@MairieMairie//layout.html.twig" %}
{% block body %}

 <style type="text/css"> 
 #list{
     margin-left: 400px;
 }
 #delete{
     margin-left: 400px;
 }
 #h5{
     margin-left: 400px;
 }
 </style>
<div class="container">

    <h5 id="h5">Etat_civil</h5>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etat_civil.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etat_civil.nom }}</td>
            </tr>
            <tr>
                <th>code acess</th>
                <td>{{ etat_civil.codeAccess }}</td>
            </tr>
            <tr>
                <th>Addresseetatcivil</th>
                <td>{{ etat_civil.addresseEtatCivil }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ etat_civil.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etat_civil.email }}</td>
            </tr>
        </tbody>
    
<td>
   
            <a id="list" class="btn btn-primary" href="{{ path('etat_civil_index') }}">Back to the list</a>
        
            <a class="btn btn-success" href="{{ path('etat_civil_edit', { 'id': etat_civil.id }) }}">Edit</a>
       </td>
       </table>
            {{ form_start(delete_form) }}
                <input id="delete" class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
     
    </div>
{% endblock %}
