{% extends "@MairieMairie//layout.html.twig" %}

{% block body %}
    <h1>Dece</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dece.id }}</td>
            </tr>
            <tr>
                <th>Nomdeces</th>
                <td>{{ dece.nomDeces }}</td>
            </tr>
            <tr>
                <th>Prenomdeces</th>
                <td>{{ dece.prenomDeces }}</td>
            </tr>
            <tr>
                <th>Lieudeces</th>
                <td>{{ dece.lieuDeces }}</td>
            </tr>
            <tr>
                <th>Datedeces</th>
                <td>{% if dece.dateDeces %}{{ dece.dateDeces|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ dece.age }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('deces_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('deces_edit', { 'id': dece.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
