{% extends "@MairieMairie//layout.html.twig" %}


{% block body %}
   
<style type="text/css">
    h3{
        text-align: center;

    }
    #td{
        font-size: 25px;
    }
</style>

    <div>
    <h3>Admins list</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Username</th>
                
                <th>Idetatcivil</th>
                <th>sexe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': admin.id }) }}">{{ admin.id }}</a></td>
                <td>{{ admin.nom }}</td>
                <td>{{ admin.prenom }}</td>
                <td>{{ admin.username }}</td>
              
                <td>{{ admin.idEtatCivil }}</td>
                 <td>{{ admin.sexe}}</td>
                <td>

                        <a class="btn btn-primary" href="{{ path('admin_show', { 'id': admin.id }) }}">show</a>


                        <a class="btn btn-success" href="{{ path('admin_edit', { 'id': admin.id }) }}">edit</a>

                        <a class="btn btn-danger" href="{{ path('admin_edit', { 'id': admin.id }) }}">delete</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-default" href="{{ path('admin_new') }}">Create a new admin</a>
   <a class="btn btn-primary pull-right" id="btnPrint"><span class="glyphicon glyphicon-print"></span> imprimer</a>
        </div>
{% endblock %}
