
<link rel="stylesheet" href="{{ asset('template/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ asset('template/bootstrap.css') }}" />
<style>
#admin{
    margin-left: 100px;
    
}
    label{
        margin-right: 50px ;
        text-align: left;
    }
    button{
        margin-left: 50px;
    }
</style>
{% block body %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </nav>


<div id="admin" class="container">
    <h3>Admin creation</h3>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nom) }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>

    <div class="form-group">
        {{ form_label(form.prenom) }}
        {{ form_errors(form.prenom) }}
        {{ form_widget(form.prenom) }}
    </div>

    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}
    </div>

    <div class="form-group">
        {{ form_label(form.idEtatCivil) }}
        {{ form_errors(form.idEtatCivil) }}
        {{ form_widget(form.idEtatCivil) }}
    </div>
        <button type="submit" class="btn btn-primary" value="Create">Create</button>
    {{ form_end(form) }}
</div>
    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
