{% extends "@MairieMairie//layout.html.twig" %}

{% block body %}
<h3><span class="glyphicon glyphicon-user"></span> {{ admin.prenom }} {{ admin.nom }}</h3>
<form  id="jsForm" role="form" method="post" action="">
        <input id="pagenumber" type="hidden" name="searchParam[page]" value="1"> 
        <input id="sortBy" type="hidden" name="searchParam[sortBy]" value="all"> 
        <input id="sortDir" type="hidden" name="searchParam[sortDir]" value="ASC"> 

       
          <div class="col-md-7">
            <div class="btn-group pull-right">                       
              <button class="btn btn-primary "><span class="glyphicon glyphicon-cog"></span>  Selectioner une action</button>
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-toggle="modal" data-target="#searchModal"><span class="glyphicon glyphicon-search"></span> Recherche avancée</a></li>
                <li><a href="{{ path('admin_new') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter</a></li>

                <li><a href="#" id="js-delete"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></li>
              </ul>
            </div>
          </div>
        </div>
     
<div class="container">
    <h4 id="h4" class="menu">Admin</h4>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
            <div>
                <th>Id</th>
                <td>{{ admin.id }}</td>
                </div>
            </tr>
            <tr>
                <th class="list-group-item">Nom</th>
                <td>{{ admin.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ admin.prenom }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ admin.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ admin.password }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ admin.sexe }}</td>
            </tr>
             <tr>
                <th>Idetatcivil</th>
                <td>{{ admin.codeEtatCivil }}</td>
            </tr>
        </tbody>
    </table>
   

    
        <td>
            <a id="list" class="btn btn-default" href="{{ path('admin_index') }}">Back to the list</a>
    
       
            <a class="btn btn-primary" href="{{ path('admin_edit', { 'id': admin.id }) }}">Edit</a></br>
       
            {{ form_start(delete_form) }}
                <input id="delete" class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </td>
     <div>
     <style type="text/css"> 
     tr{
         margin-left: 50px;
         width: 500px;
         
     }
     th{
         margin-left: 10px;
         text-align: left;
         font-size: 16px;

     }
      td{
         margin-left: 30px;
         text-align: left;
         font-size: 18px;

     }
     #delete{
         margin-left: 600px;
     }
     #h4{
         text-align: center;
     }
     #list{
         margin-left: 300px;
     }
     </style>
{% endblock %}
