

{% block body %}
    <h1>Commune</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commune.id }}</td>
            </tr>
            <tr>
                <th>Nomcommune</th>
                <td>{{ commune.nomCommune }}</td>
            </tr>
            <tr>
                <th>Addressecommune</th>
                <td>{{ commune.addresseCommune }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commune_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commune_edit', { 'id': commune.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
