{% extends "@MairieMairie//layout.html.twig" %}

{% block body %}

<style type="text/css">
    h5{
        text-align: center;

    }

<style type="text/css">
    h3{
        text-align: center;

    }
</style>


    <h5>Personnes list</h>
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Sexe</th>
                <th>Addresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td><a href="{{ path('personne_show', { 'id': personne.id }) }}">{{ personne.id }}</a></td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{% if personne.dateNaissance %}{{ personne.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ personne.lieuNaissance }}</td>
                <td>{{ personne.sexe }}</td>
                <td>{{ personne.addresse }}</td>
                <td>
                
                            <a class="btn btn-primary" href="{{ path('personne_show', { 'id': personne.id }) }}">show</a>
                        
                            <a class="btn btn-success"href="{{ path('personne_edit', { 'id': personne.id }) }}">edit</a>
                        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
            <a class="btn btn-defaullt" href="{{ path('personne_new') }}">Create a new personne</a>
       
    </div>
{% endblock %}
