{% extends "@MairieMairie//layout.html.twig" %}

{% block body %}
<h3><span class="glyphicon glyphicon-user"></span>Acte de Naissances</h3>
<form  id="jsForm" role="form" method="post" action="">
        <input id="pagenumber" type="hidden" name="searchParam[page]" value="1"> 
        <input id="sortBy" type="hidden" name="searchParam[sortBy]" value="all"> 
        <input id="sortDir" type="hidden" name="searchParam[sortDir]" value="ASC"> 

        <div class="row hidden-print">
          <div class="col-md-5 form-group">
            <div class="input-group">
              <input type="text" name="searchParam[keyword]" class="form-control" placeholder="Search">
              <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </div><!-- /btn-group -->
            </div><!-- /input-group -->
          </div><!-- /.col-md-6 -->
          <div class="col-md-7">
            <div class="btn-group pull-right">                       
              <button class="btn btn-primary "><span class="glyphicon glyphicon-cog"></span>  Selectioner une action</button>
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-toggle="modal" data-target="#searchModal"><span class="glyphicon glyphicon-search"></span> Recherche avancée</a></li>
                <li><a href="{{ path('naissance_new') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter</a></li>

                <li><a href="#" id="js-delete"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></li>
              </ul>
            </div>
          </div>
        </div>
   

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numero registre</th>
                <th>Region</th>
                <th>Departement</th>
                <th>Commune</th>
                <th>Etat civil</th>
                <th>Date naissance</th>
                <th>Lieu naissance</th>
                <th>Prenom pere</th>
                <th>Prenom mere</th>
                <th>Nom mere</th>
                <th>Prenom so</th>
                <th>Nom so</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for naissance in naissances %}
            <tr>
                <td><a href="{{ path('naissance_show', { 'id': naissance.id }) }}">{{ naissance.id }}</a></td>
                <td>{{ naissance.nom }}</td>
                <td>{{ naissance.prenom }}</td>
                <td>{{ naissance.numeroRegistre }}</td>
                <td>{{ naissance.region }}</td>
                <td>{{ naissance.departement }}</td>
                <td>{{ naissance.commune }}</td>
                <td>{{ naissance.etatCivil }}</td>
                <td>{% if naissance.dateNaissance %}{{ naissance.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ naissance.lieuNaissance }}</td>
                <td>{{ naissance.prenomPere }}</td>
                <td>{{ naissance.prenomMere }}</td>
                <td>{{ naissance.nomMere }}</td>
                <td>{{ naissance.prenomSO }}</td>
                <td>{{ naissance.nomSO }}</td>
                <td>
                    
                          
                        
                            <a class="btn btn-primary" href="{{ path('naissance_show', { 'id': naissance.id }) }}">details</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
