{% extends "@MairieMairie//layout.html.twig" %}

{% block body %}
 <style>
 #div1{

        margin-left:50px;
    }
 }
 #th1{
     width:800px;
 }
 #th2{
     width:500px;
    
 }
 #h4{
     margin-left:500px;
 }
 th{
     margin-left:50px;
 }
 
 
  </style>
    <div id="div1">
    <table  border="1" class="container">
    <thead>
    
    <tr>
     <div id="div1" class="container">
     <th id="th2">Region DE       :{{ naissance.region }}</br></br> Departement DE : {{ naissance.departement }}</br></br>
     Commune DE  :{{ naissance.commune }}</th></div>
       <th>REPUBLIQUE DU SENEGAL</br> un peuple-un but-une foi</br></br></br>ETAT CIVIL</br></br>CENTRE DE(1)</br>{{ naissance.commune }}</th>
         
         
     </thead> </table>
     <table border="1" class="container">
      <thead>
    <tr>
    <th id="th1">EXTRAIT DU REGISTRE DES ACTES DE NAISSANCE</br>Pour l'année (en lettre)      </br></br>N° dans le Registre (en lettre) </th>
      <th> </br> AN  {% if naissance.dateNaissance %}{{ naissance.dateNaissance|date('Y-m-d H:i:s') }}{% endif %} </br></br>{{ naissance.numeroRegistre }}</br>(N° dans le registre en chiffre)</th>
     <tr>
     
     </table>
         <table border="1" class="container">
          <thead>
          <tr><th>
          Le                                 mill neuf cent     </br> a  heures  minutes né(e)a {{ naissance.lieuNaissance|upper }} (lieu de naissance)</br>
           un enfant de sexe </br>
           ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
           <p>PRENOM:{{ naissance.prenom|upper }} <strong id="h4"> Nom DE FAMILLE:</strong>{{ naissance.nom|upper }}</p>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
             </br><p>de PRENOMS DU PERE:{{ naissance.prenomPere|upper }} </p>
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
             </br><p>et de PRENOMS DE LA MERE:    {{ naissance.prenomMere|upper  }} <strong id="h4"> Nom DE FAMILLE DE LA MERE:</strong>{{ naissance.nomMere|upper }}</p>
             <p>pays de naissance pour les naissances a l'étranger<p>
         
          </th></tr>
          
           </thead>
          </table>
          <table border="1" class="container">
      <thead>
    <tr>
      <th> JUGEMENT  </br>D'AUTORISATION  D'INSTRATION </br>(EX SUPPLETIF) </th>
     <th> délivré par le juge de Paix ------------------------------  -- </br>
     Le ------------------------------------------------    (en lettre) </br>
     sous le numero ------------------------------------------------------------------(en lettre)</br>
     Incrit le --------------------------------sur le registre des actes de Naissance de l'année</th>
     <th></br></br>AN -------------</br>(N° dans le registre en chiffre)</br>AN-------------
           </th>
     <tr>
     </thead>
     </table>
     <table border="1" class="container">
      <thead>
    <tr>
      <p>EXTRAIT DELIVRE PAR LE CENTRE DE  <strong id="h4"> POUR EXTRAIT CERTIF CONFORME </strong></br>
       {{ naissance.commune }} ---------------------------- <strong id="h4">  A ----------------------------------------------- le ------------------------------- l'Officier d'Etat Civil sousigné 
       </strong></br>(1)(2)(3) Notes et mentions marginales au verso  <strong id="h4"> Prénoms et Nom    {{ naissance.prenom }}  {{ naissance.nom }}  
         </strong></p>  </th> <tr>
     </thead>
     </table>
         
         
       </div>
         
         
         
         
        
      <a class="btn btn-primary pull-right" id="btnPrint"><span class="glyphicon glyphicon-print"></span> imprimer</a>
{% endblock %}
