{% extends "@MairieMairie//layout.html.twig" %}


{% block body %}
    <h1>Acte_de_naissance</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acte_de_naissance.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ acte_de_naissance.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ acte_de_naissance.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ acte_de_naissance.sexe }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if acte_de_naissance.dateNaissance %}{{ acte_de_naissance.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lieunaissance</th>
                <td>{{ acte_de_naissance.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ acte_de_naissance.region }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ acte_de_naissance.departement }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ acte_de_naissance.commune }}</td>
            </tr>
            <tr>
                <th>Nompere</th>
                <td>{{ acte_de_naissance.nomPere }}</td>
            </tr>
            <tr>
                <th>Nommere</th>
                <td>{{ acte_de_naissance.nomMere }}</td>
            </tr>
            <tr>
                <th>Prenommere</th>
                <td>{{ acte_de_naissance.prenomMere }}</td>
            </tr>
            <tr>
                <th>Prenomso</th>
                <td>{{ acte_de_naissance.prenomSo }}</td>
            </tr>
            <tr>
                <th>Nomso</th>
                <td>{{ acte_de_naissance.nomSo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acte_de_naissance_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('acte_de_naissance_edit', { 'id': acte_de_naissance.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
